.devicebutton {
    visibility: visible;
    position: absolute; top: 0%; left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.devicebutton button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    min-width: 20%;
    height: 50%;
    padding: auto;
}

.devicebutton button:hover{
    background-color: rgb(124, 124, 124);
    cursor: var(--pointer);
}

.devicebutton svg{
    visibility: visible;
    fill: var(--primary-color);
    width: 100%;
    height: 100%;
}

.devicebutton p {
    font-family: "Mouse Memoirs", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vw;
    color: var(--primary-color);
}